:root {
    --navfooter: #007BFF;
    --textcolor: rgb(0, 0, 0);
    --paragrafe-color: #696969;
    --lupa: black;
    --background-color: #ffffff;
    --sol: #ffffff;
    --lua: #1E1E2F;
    --borders-color:#c4c4c4 ;
    --shadow: rgba(0, 0, 0, 0.2)  ;
}

.dark-mode:root {
    --navfooter: #000000;
    --textcolor: rgb(255, 255, 255);
    --paragrafe-color: #fafafa;
    --lupa: rgb(255, 255, 255);
    --background-color: #1E1E2F;
    --sol: #1E1E2F;
    --lua: #ffffff;
    --borders-color:#fafafa;
    --shadow: rgba(255, 255, 255, 0.452)  ;
}

.dark-mode .text-muted {
    color: var(--paragrafe-color) !important;
}

.sol {
    color: var(--sol) !important;
}

.lua {
    color: var(--lua) !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--background-color);
}

main {
    color: var(--textcolor) !important;
    text-align: left !important;
    padding-bottom: 3.5em !important;
}

.navbar {
    background-color: var(--navfooter) !important;
}

.navbar-nav {
    left: auto !important;
}

.navbar-brand {
    font-weight: bold !important;
    font-size: 1.5em !important;
    color: var(--textcolor) !important;
}

.nav-link {
    color: var(--textcolor) !important;
    font-size: 1.3em !important;
    letter-spacing: 2px !important;
    margin-right: auto !important;
}

.pstext {
    color: black !important;
}

.card {
    margin-left: 15.5% !important;
    padding: 0.8em !important;
    margin-top: 2em !important;
    border: solid 2px var( --borders-color) !important;
    width: 70% !important;
    height: auto !important;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: -8px 8px 8px var(--shadow) !important;
}

.imgcard {
    margin-right: 40% !important;
    margin-left: 10% !important;
    margin-top: 0.5em !important;
    border-radius: 16px !important;
}

.cardtext {
    padding-top: 2.8em !important;
    text-align: center !important;
}

.card-title {
    text-align: left !important;
    /*aqui*/
    font-size: x-large !important;
    color: var(--textcolor) !important;
}

.card-text {
    text-align: left !important;
    color: var(--paragrafe-color) !important;
}

/* Footer */
footer {
    width: auto !important;
    background-color: var(--navfooter) !important;
    color: var(--textcolor) !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 0.5em !important;
}

.fa {
    color: var(--lupa) !important;
}

.noticia {
    text-align: center !important;
    padding: 4em !important;

}

.h1 {
    text-align: center !important;
    padding: 1em !important;
    margin-left: 20% !important;
    margin-right: 20% !important;

}

.notociap {
    text-align: center !important;
    padding: 1em !important;
    margin-left: 20% !important;
    margin-right: 20% !important;
}

.text-justified p {
    text-align: justify !important;
    margin-bottom: 1em;
    padding: 0.3em !important;
    margin-left: 20% !important;
    margin-right: 20% !important;
}