{% extends 'base.html' %}
{% load static %}
{% block title %} Noticias {% endblock%}
{% block style %} <link rel="stylesheet" href="{% static '/css/noticias.css' %}"> {% endblock %}
{% block content %}

<!-- --------------------Container principal------------------------->
<section>
    <div class="news-container">
        <!-- Card 1 (Imagem grande) -->
        {% for noticia in ianew|slice:":1" %}
        <div class="card-- card-1">
            <img src="{{ noticia.imagem.url }}" alt="Notícia mais recente sobre ia" class="imgnewnoticias"/>
            <div class="card-content">
                <span class="category">IA</span>
                <a href="{% url 'noticia-views' noticia.id %}">
                    <h2>{{ noticia.titulo }}</h2>
                </a>
            </div>
        </div>
        {% endfor %}
        <!-- Card 2 (Imagem média) -->
        {% for noticia in tinew|slice:":1" %}
        <div class="card-- card2">
            <img src="{{ noticia.imagem.url }}" alt="Notícia 2"  class="imgnewnoticias"/>
            <div class="card-content">
                <span class="category">TI</span>
                <a href="{% url 'noticia-views' noticia.id %}">
                    <h2>{{ noticia.titulo }}</h2>
                </a>
            </div>
        </div>
        {% endfor %}
        <!-- Card 3 (Imagem pequena) -->
        {% for noticia in gamenew|slice:":1" %}
        <div class="card-- card3">
            <img src="{{ noticia.imagem.url }}" alt="Notícia 3" class="imgnewnoticias"/>
            <div class="card-content">
                <span class="category">Games e Jogos</span>
                <h2 style="font-size: medium !important;">
                    <a href="{% url 'noticia-views' noticia.id %}" style="text-decoration: none; color: inherit;">
                        {{ noticia.titulo }}
                    </a>
                </h2>
            </div>
        </div>
        {% endfor %}
        <!-- Card 4 (Imagem pequena) -->
        {% for noticia in robotnew|slice:":1" %}
        <div class="card-- card4">
            <img src="{{ noticia.imagem.url }}" alt="Notícia 4" class="imgnewnoticias"/>
            <div class="card-content">
                <span class="category">Robotica</span>
                <h2 style="font-size: medium !important;">
                    <a href="{% url 'noticia-views' noticia.id %}" style="text-decoration: none; color: inherit;">
                        {{ noticia.titulo }}
                    </a>
                </h2>
            </div>
        </div>
        {% endfor%}
    </div>
</section>

<!---------------------Segundo container------------------------>
<!-- <h2>IAs</h2>
<section class="carousel">
    <button class="arrow left" onclick="scrollCards('carousel1', -1)">
        &#10094;
    </button>
    <div class="cards-wrapper" id="carousel1">
        {% for noticia in ia|slice:":4"  %}
        <div class="card">
            <img src="{{ noticia.imagem.url }}" alt="Palmas" />
            <div class="card-body">
                <strong><h4>{{ noticia.titulo }}</h4></strong>
                <p>{{ noticia.descricao|truncatechars:50 }}</p>
                <a href="{% url 'noticia-views' noticia.id %}" class="btn">Ler mais</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="arrow right" onclick="scrollCards('carousel1', +1)">
        &#10095;
    </button>
</section> -->

<!------------------------  carossel ------------------------------>
<h2 class="titleSection">Inovação das IA</h2>

<div class="carousel-container">
    <section class="carousel">
        <button class="arrow left" onclick="scrollCards('carousel1', -1)">
            &#10094;
        </button>
        <div class="cards-wrapper" id="carousel1">
            {% for noticia in ia|slice:":4" %}
            <div class="card">
                <img src="{{ noticia.imagem.url }}" alt="Palmas" />
                <div class="card-body">
                    <strong>
                        <h4>{{ noticia.titulo }}</h4>
                    </strong>
                    <p>{{ noticia.descricao|truncatechars:50 }}</p>
                    <a href="{% url 'noticia-views' noticia.id %}" class="btn">Ler mais</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="arrow right" onclick="scrollCards('carousel1', +1)">
            &#10095;
        </button>
    </section>
</div>



<!------------------------  Quadrdos ------------------------------>

<h2 class="titleSection">T.I</h2>
<div class="cards-horizontal-container">
    <!-- Card -->
    {% for noticia in ti|slice:":4" %}
    <div class="horizontal-card">
        <img src="{{ noticia.imagem.url }}" alt="Imagem 1" />
        <div class="horizontal-card-body">
            <h4 class="texth4"> {{ noticia.titulo }}</h4>
            <p>
                {{ noticia.descricao|truncatechars:50 }}
            </p>
            <a href="{% url 'noticia-views' noticia.id %}" class="btn1">Ler mais</a>
        </div>
    </div>
    {% endfor %}
</div>
<h2 class="titleSection">Games e Jogos</h2>
<div class="cards-horizontal-container">
    <!-- Card -->
    {% for noticia in game|slice:":4" %}
    <div class="horizontal-card">
        <img src="{{ noticia.imagem.url }}" alt="Imagem 1" />
        <div class="horizontal-card-body">
            <h4 class="texth4"> {{ noticia.titulo }}</h4>
            <p>
                {{ noticia.descricao|truncatechars:50 }}
            </p>
            <a href="{% url 'noticia-views' noticia.id %}" class="btn1">Ler mais</a>
        </div>
    </div>
    {% endfor %}
</div>
<h2 class="titleSection">Robotica</h2>
<div class="cards-horizontal-container">
    <!-- Card -->
    {% for noticia in robot|slice:":4" %}
    <div class="horizontal-card">
        <img src="{{ noticia.imagem.url }}" alt="Imagem 1" />
        <div class="horizontal-card-body">
            <h4 class="texth4"> {{ noticia.titulo }}</h4>
            <p>
                {{ noticia.descricao|truncatechars:50 }}
            </p>
            <a href="{% url 'noticia-views' noticia.id %}" class="btn1">Ler mais</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}