{% extends 'base.html' %}
{% load static %}

{% block title %}{{Notícia.titul}}{% endblock %}

{% block content %}


<div class="noticia">
    <h1 class="h1">{{ noticia.titulo }}</h1> <!-- Exibe o título da notícia -->
    <p class="notociap">{{ noticia.descricao }}</p> <!-- Exibe a descrição da notícia -->

    {% if noticia.imagem %}
    <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}" style="width: 58%; height: 450px;" />
    {% else %}
    <p>Imagem não disponível</p>
    {% endif %}
    <br>
    <br>

    <div class="text-justified">{{ noticia.noticia|linebreaks }}</div>

</div>

{% endblock %}