{% extends 'base.html' %}
{% load static %}

{% block title %}{{Notícia.titul}}{% endblock %}

{% block content %}


<div class="noticia">
    <h1>{{ noticia.titulo }}</h1> <!-- Exibe o título da notícia -->
    <p>{{ noticia.descricao }}</p> <!-- Exibe a descrição da notícia -->

    {% if noticia.imagem %}
    <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}" style="max-width: 100%;" />
    {% else %}
    <p>Imagem não disponível</p>
    {% endif %}

    <p>{{ noticia.noticia}}</p>

</div>

{% endblock %}