{% extends 'base.html' %}
{% load static %}
{% block title %} Politicas {% endblock%}
{% block style %}
<link rel="stylesheet" href="{% static '/css/sobrenos.css' %}"> 
{% endblock %}
{% block content %}

<h2 class="h2">1. Termos</h2>
<p class="pg">Ao acessar o site Tech Net, você concorda em cumprir estes termos de serviço, todas as leis e regulamentos
        aplicáveis, reconhecendo que é responsável pelo cumprimento das legislações locais. Caso não concorde com algum
        dos termos, está proibido de utilizar ou acessar este site. Todos os materiais contidos são protegidos pelas
        leis de direitos autorais e marcas registradas vigentes.</p>

<h2 class="h2">2. Uso de Licença</h2>
<p class="pg">É concedida permissão para baixar temporariamente uma cópia dos materiais do site Tech Net, apenas para
        visualização pessoal e não comercial. Esta concessão constitui uma licença, e não uma transferência de
        propriedade. Sob esta licença, você não pode modificar, copiar, usar comercialmente, realizar engenharia
        reversa, remover direitos autorais ou transferir os materiais para terceiros.</p>
<p class="pg">Esta licença será automaticamente encerrada caso alguma dessas restrições seja violada, podendo ser
        revogada pela Tech Net a qualquer momento. Ao encerrar o uso dos materiais ou ao término desta licença, você
        deve apagar qualquer conteúdo baixado em sua posse, seja em formato digital ou impresso.</p>

<h2 class="h2">3. Isenção de Responsabilidade</h2>
<p class="pg">Os materiais no site da Tech Net são fornecidos "como estão", sem garantias expressas ou implícitas. A
        Tech Net se isenta de todas as garantias, incluindo, mas não se limitando, àquelas de comercialização, adequação
        a um fim específico e não violação de direitos.</p>
<p class="pg">Além disso, a Tech Net não garante a precisão, resultados esperados ou confiabilidade do uso dos
        materiais, seja no próprio site ou em sites vinculados.</p>

<h2 class="h2">4. Limitações</h2>
<p class="pg">Em nenhuma hipótese a Tech Net ou seus fornecedores serão responsáveis por quaisquer danos, incluindo
        perda de dados, lucros ou interrupções de negócios, decorrentes do uso ou da incapacidade de uso dos materiais
        no site, mesmo que notificados sobre a possibilidade de tais danos. Certas jurisdições podem não permitir estas
        limitações, portanto elas podem não se aplicar a você.</p>

<h2 class="h2">5. Precisão dos Materiais</h2>
<p class="pg">Os materiais apresentados no site podem conter erros técnicos, tipográficos ou fotográficos. A Tech Net
        não garante que qualquer conteúdo seja exato, completo ou atualizado. Alterações podem ser feitas a qualquer
        momento, sem aviso prévio, e a Tech Net não assume compromisso de atualização constante.</p>

<h2 class="h2">6. Links</h2>
<p class="pg">O site pode conter links para páginas externas que não são operadas pela Tech Net. Não nos
        responsabilizamos pelo conteúdo desses sites. A presença de links não implica endosso, e o acesso a esses sites
        é por conta e risco do usuário.</p>

<h2 class="h2">7. Modificações</h2>
<p class="pg">A Tech Net poderá alterar estes termos de serviço a qualquer momento, sem aviso prévio. Ao continuar
        utilizando o site, você concorda em estar vinculado à versão mais recente dos termos.</p>

<h2 class="h2">8. Lei Aplicável</h2>
<p class="pg">Estes termos são regidos pelas leis em vigor no território da Tech Net, e qualquer disputa estará sujeita
        à jurisdição dos tribunais locais competentes.</p>

{% endblock %}